.nav {
    background: #fff;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 3px 10px rgb(255 255 255 / 0.6);
    &-wrapper {
        padding-top: 18px;
        padding-bottom: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo {
        a {
            display: block;
            img {
                filter: brightness(0%);
            }
        }
    }
    &-right {
        display: flex;
        align-items: center;
    }
    &-lists {
        display: flex;
        a {
            display: block;
            margin: 0 25px;
            color: var(--text-blue);
            font-family: "Inter", sans-serif;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            transition: var(--transition);
            position: relative;
            opacity: 0.85;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -2px;
                width: 0%;
                height: 2px;
                background: var(--text-green);
                transition: var(--transition);
            }
            &:hover,
            &.selected {
                opacity: 1;
                &::after {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
    &-register {
        a {
            display: flex;
            align-items: center;
            border: 2px solid #064088;
            border-radius: 25.5px;
            margin-left: 25px;
            transition: var(--transition);
            &:hover {
                background: var(--text-blue);
                span {
                    color: #fff;
                }
                svg {
                    color: #fff;
                }
            }
            span {
                display: block;
                padding: 12px;
                padding-right: 7px;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: var(--text-blue);
                font-family: "Inter", sans-serif;
                transition: var(--transition);
            }
            svg {
                width: 42px;
                height: 42px;
                color: var(--text-blue);
                transition: var(--transition);
            }
        }
    }
    &-menu {
        display: none;
    }
}

.menu {
    position: absolute;
    top: 0;
    width: 280px;
    z-index: 1000;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: #fff;
    height: 100vh;
    right: -400%;
    &-close {
        position: absolute;
        top: 35px;
        right: 30px;
        cursor: pointer;
        svg {
            font-size: 28px;
            color: var(--text-blue);
        }
    }
    .nav {
        &-right {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 40px;
            height: calc(100% - 50px);
            gap: 35px;
        }
        &-lists {
            flex-direction: column;
            gap: 20px;
            a {
                display: unset;
                margin: 0;
            }
        }
    }
}

.openMenu {
    right: 0;
    transition: 0.4s;
}

.closeMenu {
    right: -100%;
    transition: 0.4s;
}

.d-none {
    display: none;
}

@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
    .nav {
        &-wrapper {
            padding-top: 15px;
            padding-bottom: 12px;
        }
        &-logo {
            a {
                img {
                    width: 90%;
                }
            }
        }
        &-lists {
            a {
                margin: 0 20px;
            }
        }
        &-register {
            margin-left: 20px;
        }
    }
}

@media (max-width: 976px) {
    .nav {
        &-right {
            display: none;
        }
        &-menu {
            display: block;
            svg {
                cursor: pointer;
                font-size: 30px;
                color: var(--text-blue);
                opacity: 0.75;
                transition: var(--transition);
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .menu {
        width: 220px;

        .nav {
            &-right {
                padding: 30px;
                gap: 35px;
            }
            &-register {
                margin-left: 0;
            }
        }
    }
}
