.course {
    &s {
        padding-bottom: 150px;
    }
    &-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 100px;
        justify-content: space-between;
        align-items: center;
    }
    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        letter-spacing: 0.05em;
        text-decoration: underline;
        cursor: pointer;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 8px;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, #064088 1.65%, #0072ff 100%);
        }
    }
    &-img {
        overflow: hidden;
        cursor: pointer;
        img {
            max-width: 548px;
            width: 100%;
            transition: var(--transition);
            &:hover {
                transform: scale(1.03);
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
            }
        }
    }
}

@media (max-width: 1024px) {
    .course {
        &-wrapper {
            grid-template-columns: 100%;
            grid-row-gap: 50px;
        }
    }
}

@media (max-width: 976px) {
    .course {
        &-title {
            font-size: 54px;
            line-height: 68px;
        }
    }
}

@media (max-width: 768px) {
    .course {
        &-title {
            font-size: 44px;
            line-height: 56px;
        }
    }
}

@media (max-width: 576px) {
    .course {
        &-title {
            font-size: 36px;
            line-height: 46px;
        }
    }
}
